*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
.flex{
    display: flex;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style:none ;
    width: 35%;
}
.padding-top-bottom{
    padding: 3% 0;
}
.between{
    justify-content: space-between;
}
h1{
    font-size: 90px;
}
.head p{
    text-align: center;
    font-size: 25px;
}
.btn{
    justify-content: center;
}
.head button{
    padding: 1% 4%;
    border-radius: 30px;
    border: none;
    background-color: #285E67;
    color: aliceblue;
    font-size: 20px;
}
.img{
    justify-content: space-around;
}
.img img{
    width: 45%;
}
   